*{
    text-decoration: none;
}
html{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none !important;
    color: white !important;
}
.image-nav{
    height: 80px;
    width: 80px;
    border-width: 5px;
    border-color: #70B0A2;
    border-style: solid;
    float: left;
    background-color: #70B0A2;
}
.btn-primary{
    background-color: #70B0A2;
}
.hover-nav{
    font-weight: 500;
    padding: 15px;
    height: 54px;
}
.hover-nav>p{
    margin-bottom: 0px;
}
.hover-nav:hover {
    background-color: #A7D6CF;
}
#user-img{
    background-color: black;
    width: 40px;
}
.user-area{
    height: 100%;
}
.row{
    margin: 10px;
}
.nav-total{
    height: 54px;
    background-color: #70B0A2;
    margin: 0px;
}
.nav-total>.nav{
    height: 54px;
}
.feed{
    margin-top: 40px;
    margin-left: 0px;
}
.sugested-name{
    font-size: 1.3vw;
    margin:0px; 
}
.headder-noticia{
    padding: 0px;
}
.img-user-feed{
    margin-right: 10px;
}
.navselect{
    background-color: #A7D6CF !important;
}
.Create{
    margin-top: 40px;
    margin-left: 0px;
}